@font-face {
    font-family : brownCustom;
    src : url(font.TTF);
}

body {
    /* need to define height for align-items to work*/
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;
    background-color: rgb(233, 131, 214);
}

h1 {
    font-family: brownCustom;
    margin-bottom: 30px;
}

#container {
    display: grid;
    grid-template-columns : repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    max-height: 600px;
    min-height: 600px;
    max-width: 600px;
    min-width: 600px;
    margin-top: 30px;
    border-width: 5px;
}

#buttons {
    font-family: brownCustom;
    display: flex;
    gap: 50px;
}

.grid-size {
    font-family: brownCustom;
    border-radius: 5px;
    border-color: black;
    background-color: rgb(233, 131, 214);
}
#colors {
    font-family: brownCustom;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    background-color: rgb(233, 131, 214);
}
option {
    font-family: brownCustom;
}

.clear {
    font-family: brownCustom;
    border-radius: 5px;
    border-color: black;
    background-color: rgb(233, 131, 214);
}