body {
    /* need to define height for align-items to work*/
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;

}

#container {
    display: grid;
    grid-template-columns : repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-height: 600px;
    min-height: 600px;
    max-width: 600px;
    min-width: 600px;
    background-color: red;
    
}

